@media screen and (max-width:768px) {
    .move {
        right: 0%;
      }
    
      .m-page {
        display: block;
        text-align: center;
        padding: 50% 0;
      }
    
      .m-page li a {
        font-family: 'Raleway', sans-serif;
        display: block;
        margin-top: 30px;
        width: 100%;
        font-size: 20px;
        color: #707070;
      }
    
      .m-menu {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 99;
      }
    
      .m-menu span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #707070;
        border-radius: 30px;
        transition: all 0.5s;
      }
      .top {
        top: 0;
      }
    
      .mid {
        top: 50%;
        transform: translateY(-50%);
      }
    
      .btn {
        bottom: 0;
      }
      .move1 .top{
        opacity: 0;
      }
      .move1 .btn{
        opacity: 0;
      }
      .move1 .m1  {
        transform: rotate(45deg);
        background-color: #EE2E30;
      }
    
      .move1 .m2  {
        transform: rotate(-45deg);
      }


    .menu{
        display: none;
      }
      header nav{
        height: 74px;
        padding-top: 20px;
      }
      .logo{
        width: 80px;
      }
      .bg_title {
        top: 200px;
      }
      .s1{
        background: url(../images/sub-1images/m_sec1.jpg);
        background-size: cover;
      }
      .s1 .bg_title h2 {
        font-size: 30px;
        line-height: 48px;
      }
      .main_bg{
        background: url(../images/sub-1images/m_mainbg.jpg) no-repeat;
        background-size: cover;
        padding-top: 80px;
      }
      /* .main_title h2{color: #0047D5;} */
      .main_title h2,.title_box1 h2{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;
    }

    .main_title p{
        /* margin-top: 10px; */
        /* font-size: 12px;
        line-height: 26px;
        font-family: 'Noto Sans KR', sans-serif; */
        display: none;

    }
    .title_box1 p{
        font-size: 14px;
        line-height: 24px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .main_title p br,
    .title_box1 p br
    {
        display: none;
    }
    /* s1 */
    .section{
      padding-top: 80px;
    }
    
    .s1 .inner{
        flex-wrap: wrap;
    }
    .section_title{
        width: 100%;
    }
    .title_box2{
        margin-top: 30px;
        width: 100%;
    }
    .title_box2 li{
        font-size: 8px;
    }
    .title_box2 li span{
        font-size: 12px;
    }
    .title_box2 li label{
        line-height: 19px;
    }

    .section_item_box{
        margin-top: 30px;
    }
    .section_item_box img{
        width: 100%;
    }

    /* s2 */
    .s2{
        padding-bottom: 80px;
        box-sizing: content-box;
    }
    .s2 .inner{
        flex-wrap: wrap;
    }
    .s2 .section_title{
        width: 100%;
        height: 50%;
    }
    .item-box{
        width: 100%;
        height: 50%;
    }
    .history_line{
        font-size: 18px;
    }
    .story h6,.story p{
        font-size: 8px;
    }

    .history_line::after{
        width: 8px;
        height: 8px;
        left: -22px;
    }
    .item-box::-webkit-scrollbar {
        width: 8px;
      }

    /* .s3 */
    .s3{
      background: url(../images/sub-1images/m_sec3.jpg);
      background-size: cover;
      height: auto;
      padding-bottom: 80px;
    }
    .s3 .section_title{
        width: 80%;
        height: 50%;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        background-color: rgb(255, 255, 255);
    }
    .s3 .section_title p br{
        display: none;
    }
   /* footer */
  footer {
    /* overflow: hidden;
    padding: 20px 0; */
  }
  .ftmenu {
    display: none;
  }

  .ftbtm {
    margin-top: 0px;
    display: block;
  }

  .ftmenu2 {
    width: 100%;
    margin-top: 0px;
    flex-wrap: wrap;
  }
  .ftmenu2 li{
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
  }
  .ftmenu2 li:first-child>a,
  .ftmenu2 li>a{
    color: #e9e9e9;
  }


  .snsbox {
    width: 100%;
    margin-top: 10px;
    justify-content: space-around;
  }

  .snsbox img {
    /* width: 60%; */
  }
}