@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
}
ul,li{list-style: none;}
a{text-decoration: none;}
img{display: block;}

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 99;
    transition: all 0.5s ease-in;
}
.down{
    background-color: #0C205C;
    transition: all 0.5s;
}
.inner{
    width: 75%;
    /* height: 100%; */
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}
header nav {
    /* display: block; */
    width: 75%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    box-sizing: border-box;
}
.logo{
    width: 100px;
}
.logo .logoimg{
    width: 100%;
    height: 100%;
}
.logo img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.menu {
    display: flex;
}
.menu li>a {
    color: #fff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.menu a::after{
    display: block;
    content: '';
    border-bottom: 2px solid #fff;
    transform: scaleX(0); /* 평소에는 보더 효과 감추기*/
    transition: transform 250ms ease-out;
    transform-origin: left;
}
.menu a:hover::after{
    transform: scaleX(1);
}

.menu li:not(:last-child) {
    margin-right: 60px;
}
.m-menu{
    display: none;
}
.m-page1{
    width: 60%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    right: -70%;
    z-index: 98;
    transition: all 0.5s;
    box-shadow: 1px 1px 10px#373C44;
  }
  .inner{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .main_bg{
    width: 100%;
    height: 500px;
    background: url(../images/sub-1images/main_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main_title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.main_title h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #C7D9FF;
    font-size: 45px;
}
.main_title p{
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    line-height: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    background-color: rgba(0, 0, 0,0.5);
    padding: 10px;
}
.section{
position: relative;
}
.s1{
    height: 826px;
    background: url(../images/sub-1images/section1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.s1 .inner{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.section_title{
    width: 55%;
    /* height: 100%; */
    box-sizing: border-box;
}
.title_box1 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 45px;
    line-height: 60px;
}
.title_box1 p{
    margin-top: 10px;
    color: #ccc;
    font-size: 18px;
    line-height: 32px;
    font-weight: lighter;
    font-family: 'Noto Sans KR', sans-serif;   
}
.title_box2{
    margin-top: 120px;
    width: 100%;
}
.title_box2 li{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #EE2E30;
    margin-top: 20px;
}
.title_box2 li:first-child{
    margin-top: 0;
}
.title_box2 li:nth-child(3){
    margin-top: 40px;
}
.title_box2 li span{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #fff;
}
.title_box2 li label{
    float: right;
    text-align: right;
    font-weight: lighter;
    line-height: 24px;
    color: #fff;
}